@font-face {
	font-family: 'Silkscreen';
	src: url("/public/assets/silkscreen-regular.woff");
}

.item-list-container {
	text-align: center;
	font-family: 'Silkscreen', Arial, sans-serif;

}

.card {
	width: 18rem;
	display: flex;
	position: relative;
	flex-direction: column;
	border:  1px solid lightgrey;
}

.card-body {
	padding: 1.25rem;
}