@font-face {
	font-family: 'Oxanium';
	src: url("/public/assets/Oxanium-Regular.woff");
}

.productsInCart {
	margin: 0 2rem;
	width: 60%;
}

.sectionTitle {
	width: 100%;
	text-align: center;
}

.cartDetailContainer {
	align-items: center;
	font-family: 'Silkscreen', Arial, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding: 16px;
	max-width: 1184px;
}

.sectionContainer {
	display: flex;
	flex-direction: row;
}

.emptyCartContainer {
	font-family: 'Oxanium', Arial, sans-serif;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 10px;
	padding: 16px;
}

.productInCart {
	font-family: 'Oxanium', Arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	margin: 1rem auto;
	border-bottom: 1px solid lightgrey;
}

.productInCartImage {
	width: 14%;
}

.sadRobot {
	width: 90%;
}

.clientData {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 1rem auto;
	padding: 1rem;
}

.clientData--form--title {
	padding-bottom: 1rem;
}

input {
	padding: 0.5rem;
	width: 80%;
	border-radius: 5px;
	border: 1px solid lightgray;
	margin: 0.5rem;
}

.loader {
	height: 100%;
}

.swal2-image {
	width: 30%;
}