@font-face {
	font-family: 'Silkscreen';
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	src: url("./silkscreen-regular.woff");
}

.navbar {
	font-family: 'Silkscreen';
=======
=======
>>>>>>> Stashed changes
	src: url("/public/assets/silkscreen-regular.woff");
}

.navbar {
	font-family: 'Silkscreen', Arial, sans-serif;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
	color: white;
	background: black;
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid limegreen;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
.links-container {
	margin: 1rem;
}

<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
.logo-container {
	display: flex;
	align-items: center;
}

.navbar-logo {
	margin: 1rem;
	width: 30px;
	background-color: white;
}

.navbar ul {
	list-style: none;
	display: flex;
}

.navbar-links li a {
	margin: .5rem;
	padding: .5rem;
	text-decoration: none;
	color: white;
}
